rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /vehicle_logs/{logId} {
      allow read, write: if true;
    }
    match /vehicle_status/{statusId} {
      allow read, write: if true;
    }
  }
}
